.main-ellipse {
  $size: 1000px;
  // $size: 72vw;
  // max-width: 1000px;
  // max-height: 1000px;
  $borderWidth: 20px;

  position: absolute;
  top: -200px;
  left: 0;
  transform: translateY(40%);
  width: $size;
  height: $size;

  &__satellite {
    border-radius: 50%;
    border: $borderWidth solid white;
    overflow: hidden;
    position: absolute;

    &_s1 {
      $size: 270px;
      width: $size;
      height: $size;
      top: 0;
      left: 0;
      transform: translate(50%, -30%);
    }
    &_s2 {
      $size: 170px;
      width: $size;
      height: $size;
      top: 0;
      left: 0;
      transform: translate(-20px, -100%);
    }
    &_s3 {
      $size: 170px;
      width: $size;
      height: $size;
      top: 0;
      left: 50%;
      transform: translate(-40%, -115%);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid white;
    overflow: hidden;
  }
}