.countdown-wrap {
  background: rgba($textGreen, .05);
  margin-bottom: 75px;
}
.countdown {
  padding: 35px 0;
  &__title {
		color: lighten($textColor, 40);
  }
  &__undertext {
		@include flex(space-between);

		max-width: 550px;
		color: lighten($textColor, 40);
		padding: 0 20px;
		margin-top: -20px;
		span {
			&:nth-child(1) {
				transform: translateX(5px);
			}
			&:nth-child(2) {
				transform: translateX(10px);
			}
			&:nth-child(3) {
				transform: translateX(-15px);
			}
			&:nth-child(4) {
				transform: translateX(-30px);
			}
		}
	}
}


.countdownHolder{
	@include flex;

	font-family:  'Roboto',sans-serif;
	font-size: $cdFontSize;
	line-height: 1.5;

	text-align:center;
	letter-spacing:-3px;
	transform: translateX(-10px);
}

.position{
	display: block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: $cdDigitSize;
}

.digit{
	@include flex(center, center);

	position:absolute;
	width: $cdDigitSize;
	height: 100%;
	/* background-color:#444; */
	// border-radius:0.2em;
	color: black;
}

.digit.static{
	/* box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35); */
	
	/* background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, #3A3A3A),
		color-stop(0.5, #444444)
	); */
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

 .countDays,
 .countHours,
 .countMinutes,
 .countSeconds {
	display: flex;
 }

.countDays{ /* display:none !important;*/ }
.countDiv0{ /* display:none !important;*/ }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
	display: block;
	width:$cdDivWidth;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:$cdDotSize;
	height:$cdDotSize;
	background-color:silver;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:0.9em;
}