.countdownHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -3px;
}

.position {
  display: block;
  height: 1.6em;
  overflow: hidden;
  position: relative;
  width: 1.05em;
}

.digit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 1em;
  height: 100%;
  /* background-color:#444; */
  color: black;
}

.digit.static {
  /* box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35); */
  /* background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.5, #3A3A3A),
  	color-stop(0.5, #444444)
  ); */
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */
.countDays,
.countHours,
.countMinutes,
.countSeconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.countDays { /* display:none !important;*/ }

.countDiv0 { /* display:none !important;*/ }

.countDiv {
  display: block;
  width: 16px;
  position: relative;
}

.countDiv:before,
.countDiv:after {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #444;
  border-radius: 50%;
  left: 50%;
  margin-left: -3px;
  top: 0.5em;
  -webkit-box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
          box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
  content: "";
}

.countDiv:after {
  top: 0.9em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

html, body, .container {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
  height: 100%;
}

.side {
  width: 50%;
  height: 100%;
}
.side_left {
  padding-left: 165px;
}
.side_right {
  padding-right: 130px;
}/*# sourceMappingURL=style.css.map */